# This is a Git ignore file
# It specifies intentionally untracked files that Git should ignore
# when checking for changes in the repository

# The .git directory contains Git's internal data
# It should always be ignored
.git

# The .gitignore file specifies intentionally untracked files
# It should be ignored to prevent it from being modified by mistake
.gitignore

# The README.md file contains information about the repository
# It should be committed to the repository and not modified by mistake
README.md

# The LICENSE file contains the license agreement for the repository
# It should be committed to the repository and not modified by mistake
LICENSE
