# This is a sample .gitignore file for a public directory

# Ignore all files and directories
*

# Except for the following files and directories
!.htaccess
!.htpasswd
!index.html
!public/
!public/css/
!public/js/
!public/images/

# In the public directory, only ignore .php files
public/*.php
